* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .divHeader {
    width: 100%;
  }
  
  .divHeader .header {
    height: 120px;
    color: red;
  }

  .divHeader .header .row img {
    width: 70px;
  }
  
  .divHeader .header ul {
    padding-left: unset !important;
  }
  
  .styleContenedor {
    margin-top: 130px;
    margin-bottom: 40px;
  }
  
  .footer {
    background-color: steelblue;
    text-align: center;
    color: white;
    font-size: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  .modal .modal-body .imgHead {
    max-width: 350px;
  }

  .modal .modal-body .row h2 {
    color: orange;
  }

  .modal .modal-body .row h3 {
    font-size: 20px;
  }

  .selCant {
    height: 37px;
  }

  .search {
    height: 37px;
  }

  .imgMunSue {
    max-width: 250px;
  }